.container-sm{
    border: 1px solid grey;
    width: 65%;
    height: 830px;
}
#email{
    width: 50%;
}
#first{
    width: 25%;
}
#last{
    width: 25%;
}
th, td {
    width: 17%;
    padding: 5px;
    text-align: center;
    vertical-align: unset;
    line-height: 18px;
    font-weight: 400;
    word-break: break-all;
    color: #0d0e0f;
    }
    .form-field {
        display: inline-block;
        margin-right: 20px;
      }
      
      .form-field:last-child {
        margin-right: 0;
      }
      
      .form-field-input {
        display: block;
      }
      
      .form-field-label {
        font-size: 12px;
      }
      .star{
          color: red;
      }
#text{
    box-sizing: border-box;
    max-width: 50%;
}
@media only screen and (max-width: 500px) {
  .data {
    width: 100%;
  }
}